@font-face {
    font-family: 'FranklinGothicHeavyRegular';
    src: url('/BrokersPortal/resource/fonts/franklin/FranklinGothicHeavyRegular.eot');
    src: url('/BrokersPortal/resource/fonts/franklin/FranklinGothicHeavyRegular.eot?#iefix') format('embedded-opentype'),
         url('/BrokersPortal/resource/fonts/franklin/FranklinGothicHeavyRegular.woff2') format('woff2');
    src: url('/BrokersPortal/resource/fonts/franklin/FranklinGothic-Heavy.svg#FranklinGothic-Heavy') format('svg'),
         url('/BrokersPortal/resource/fonts/franklin/FranklinGothic-Heavy.ttf') format('truetype'),
         url('/BrokersPortal/resource/fonts/franklin/FranklinGothic-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Calibri';
    src: url('/BrokersPortal/resource/fonts/calibri/Calibri.svg#Calibri') format('svg'),
         url('/BrokersPortal/resource/fonts/calibri/Calibri.ttf') format('truetype'),
         url('/BrokersPortal/resource/fonts/calibri/Calibri.woff') format('woff');
    src: url('/BrokersPortal/resource/fonts/calibri/calibri.eot');
    src: url('/BrokersPortal/resource/fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'),
         url('/BrokersPortal/resource/fonts/calibri/calibri.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  .THIS .left-box{
      width:23%; float:left;
      margin-top: 0px;
      position:fixed;
      background: #4E4E4E!important;
      height: 100%; 
      
  }
  .THIS .right-box{
     width:74%; 
      padding-top:72px;
      float:left; 
      margin-left:25%;
      
  }
  .THIS .imgForDesktop{
      /*margin: 24px 2em;*/
      width: 100%;
     /*margin-bottom: 24px;*/
  }
  .THIS .sldsFooter{
      padding-top:0px;
      padding-bottom:24px;
      
  }
  .THIS .padMostRecent {
      margin-bottom:24px;
  }
  .THIS .divMargin
  {
      padding-left: 24px;
  }
  
  .THIS .hideForDesktop
  {
      
      display:none;
  }
  .THIS .showTabPro
  {
      display:none;
      margin-bottom: 24px;
  }
  /*.THIS .tabPadding {
      margin-bottom:24px;
  }*/
  .THIS .hideImgeDesktop
  {
      display:none;
  }
  @media screen and (min-width:320px) and (max-width:480px)
      {
      .THIS .padMostRecent {
      margin-bottom:16px;
  }
      .THIS .right-box{
             width:100%; 
          float:left; 
          margin-left:0px;
          padding: 84px 16px 0px 16px;
  }
      /*.THIS .padMostRecent
      {
          padding:0px 16px 0px 16px;
      }*/
      .THIS .imgForDesktop{
          /*padding: 16px 16px 36px 16px;*/
          /* margin-bottom: 20px; */
          width: 100%;
          margin: 0px;
      }
       .THIS .showTabPro
      {
          display:block;
          margin-bottom:16px;
          /*padding: 16px 16px 0px 16px;*/
      }
      .THIS .hideforTabPro
      {
          display:none;
      }
      .THIS .sldsFooter{
      padding-top:0px;
      padding-bottom:24px;
      
  }
      .THIS .left-box{
          height: auto !important;
          background:none !important;
          display:None;
      }
          
  }
  
  @media screen and (min-width:481px) and (max-width:767px)
      {
       .THIS .padMostRecent {
      margin-bottom:16px;
  }
      .THIS .left-box{
          
          display:None;
          
      }
       .THIS .right-box{
     width:100%;
          float:left; 
          margin-left:0px;
          padding: 84px 16px 0px 16px;
          
  }
      /*.THIS .padMostRecent
      {
          padding:0px 16px 0px 16px;
      }*/
      .THIS .imgForDesktop{
          /*padding: 16px 16px 36px 16px;*/
          /* margin-bottom: 20px; */
          width: 100%;
          margin: 0px;
      }
       .THIS .showTabPro
      {
          display:block;
          margin-bottom:16px;
         /*padding: 16px 16px 0px 16px;*/
      }
      .THIS .hideforTabPro
      {
          display:none;
      }
      .THIS .sldsFooter{
      padding-top:0px;
      padding-bottom:24px;
      
  }
  }
  
  @media screen and (min-width:768px) and (max-width:1023px)  
      {
      .THIS .showTabPro {
          display:block;
      }
      .THIS .hideforTabPro {
          display:none;
      }
      .THIS .left-box{
          height: auto !important;
          background:none !important;
          display:None;
      }
     
       .THIS .right-box{
     width:100%; float:left; 
          margin-left:0px;
          padding: 87px 24px 0 24px;
  }
      
     /* .THIS .slds-size_1-of-1 {
          width: 100% !important;                  
      }*/
      
      .THIS .imgForDesktop{
          
          margin: 0px;
          /*padding:64px 24px 32px 24px;*/
          width: 100%;
      }  
      .THIS .divMargin
      {
          padding-left: 0px;
      }
     /* .THIS .padMostRecent
      {
          padding: 0px 24px 0px 24px;
      } 
      .THIS .tabPadding
      {
          padding: 0px 24px 0px 24px;
      } */
       .THIS .showTabPro
      {
          
          /*display:block;*/
          /*padding: 24px;*/
      }
      .THIS .hideforTabPro
      {
          /*display:none;*/
          margin-bottom:24px;
      }
      .THIS .sldsFooter{
      padding-top:0px;
      padding-bottom:24px;
      
  }
  }
  @media screen and (min-width:1024px) and (max-width:1324px)  {
      .THIS .showTabPro {
          display:block;
      }
      .THIS .hideforTabPro {
          display:none;
      }
      .THIS .left-box{
          height: auto !important;
          
      }
      .THIS .slds-large-size_8-of-12.widthLap {
          width:100%;
      }
      .THIS .slds-large-size_4-of-12.widthLap {
          width:100%;
      }
      .THIS .right-box
      {
          width:73%;
      }
  }
  
  @media screen and (min-width:768px) and (max-width:979px) and (orientation: landscape) 
    
  {
      .THIS .left-box{
          height: auto !important;
          background:none !important;
      }
        .THIS .right-box{
     width:100%; float:left; 
          margin-left:0;
  }
      
      /*.THIS .slds-size_1-of-1 {
          width: 100% !important;                  
      }*/
      
      .THIS .imgForDesktop{
          
          margin: 0px;
          /*padding:24px 24px 24px 24px;*/
          width: 100%;
      }  
      .THIS .divMargin
      {
          padding-left: 0px;
      }
      /*.THIS .padMostRecent
      {
          padding: 0px 24px 0px 24px;
      } */
      /*.THIS .tabPadding
      {
          padding: 0px 24px 0px 24px;
      } */
       .THIS .showTabPro
      {
          display:block;
          /*padding: 24px;*/
      }
      .THIS .hideforTabPro
      {
          display:none;
      }
  }
  @media screen and (min-width:980px) and (max-width:1023px) and (orientation: landscape) 
    
    
      {
      .THIS .left-box{
          height: auto !important;
          background:none !important;
      }
       .THIS .right-box {
             width: 100%;
          float: left;
          margin-left: 0;
          /*padding-top:70px;*/
      }
      
      /*.THIS .slds-size_1-of-1 {
          width: 100% !important;                  
      }*/
      
      .THIS .imgForDesktop{
          
          margin: 0px;
          /*padding: 24px;*/
          width: 100%;
      }  
      .THIS .divMargin
      {
          padding-left: 0px;
      }
      /*.THIS .padMostRecent
      {
          padding: 0px 24px 0px 24px;
      } */
      /*.THIS .tabPadding
      {
          padding: 0px 24px 0px 24px;
      } */
       .THIS .showTabPro
      {
          display:block;
          /*padding: 24px;*/
      }
      .THIS .hideforTabPro
      {
          display:none;
      }
  }
  
  
  
  
  /*1025*/
  @media screen and (min-width:1025px) and (max-width:1200px)
      
      {
    /*  .THIS .left-box{
          height: auto !important;
          background:none !important;
      }*/
      .THIS .right-box{
     width:73%; float:left; margin-left:25%;
  }
      /*.THIS .widthLap
      {
          width:98%;
      }*/
     .THIS .imgForDesktop{
          /* margin: 18px; */
          
         /*padding: 0px 0px 24px 0px;*/
      margin: 0;
      width: 100%;
          
          
      } 
      .THIS .showTabPro
      {
          /*display:block;*/
          /*padding: 24px 0px 0px 0px;*/
      }
      /*.THIS .hideforTabPro
      {
          display:none;
      }*/
  }
  @media screen and (min-width:679px) and (max-width:890px) and (-webkit-device-pixel-ratio: 3) 
    and (orientation: landscape) {
      .THIS .left-box{
      width:22%; float:left;
          height: auto !important;
          background:none !important;
  }
  .THIS .right-box{
     width:100% !important; float:left; margin-left:0px;
  } 
  }
  @media screen and (min-device-width:812px) and (max-device-width:980px) and (-webkit-device-pixel-ratio: 3) 
    and (orientation: landscape) {
      .THIS .left-box{
      width:22%; float:left;
          height: auto !important;
          background:none !important;
  }
  .THIS .right-box{
     width:100% !important; float:left; margin-left:0px;
  } 
  }
  @media only screen and (min-device-width : 1400px) {
   .THIS .left-box{
      width:18%; float:left;
  }
  .THIS .right-box{
     width:79%; float:left; margin-left:20%;
  }
      .THIS .showTabPro
      {
          display:none;
          
      }    
      
  }