.slds-navigation-list--vertical__action {
    font-size:16px;
    font-family: 'Calibri' !important;
    color: #E2E2E2 !important;
}
.slds-text-link--reset {
    border-top: #000000 !important;
    border-bottom: #000000 !important;
    border-inline-start: #000000 !important;
}
.slds-is-active a{
    background:none !important;
}
.setSize {
    position:relative;
} 
.showDropDown {
    background-color: #4e4D4e!important;
    color: #fff!important;     
    margin-left: 8px;
    display: none;
}
.showDropDown1 {
    background-color: #4e4D4e!important;
    color: #fff!important;     
    margin-left: 8px;
    display: block;
}
.setResour {
    margin-top:8px;
}

.setSizesubItem {
    font-size:16px;
    font-family: 'Calibri' !important;   
    color: #E2E2E2 !important;
}

.slds-is-active {
    color: #FFFFFF !important;  
    background: #373737 0% 0% no-repeat padding-box;
}
.setSubMenu {
    background: none !important;
}
.sub-menu {
    position:absolute;
    right:20px;
} 
li:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
    background:none !important;
}
li a{
    background: none !important;
}
div:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
    background:none !important;
}
a:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
    background:none !important;
}
a:hover {
    color: #FFFFFF !important;
}
/* a:active{
    color: #FFFFFF !important;
} */
ul.showDropDown {
    margin-top:8px;
}
ul.showDropDown1 {
    margin-top:8px;
}
.navContainer li a {
    background: none !important;
}
.setSizesubItem a {
    background:none !important;
}
.slds-col .ui-widget {
    margin: 16px 0;
}

.slds-col.content {
    width: 1140px;
}
@media only screen and (min-device-width : 320px) and (max-device-width :767px) {
    .showDeskTop {
        display: none;
    }
    .setNavg{
        text-align: left;
        font: Bold 11/21px;
        font-family: 'Calibri';
        
        letter-spacing: 0.7px;
        color: #E2E2E2;
    }   
    .slds-navigation-list--vertical__action{
        font: Bold 16/22px Calibri;
        font-family: 'Calibri' !important;
        color: #E2E2E2 !important;
    }
    .setSizesubItem{
        font: Bold 16/22px Calibri;
        font-family: 'Calibri' !important;   
        color: #E2E2E2 !important;
    }
    .slds-text-link--reset{
        border-top: #000000 !important;
        border-bottom: #000000 !important;
        border-inline-start: #000000 !important;
    }  
    .lds-text-link--reset{
        background:#373737 !important; 
    }
    
}
@media only screen and (min-device-width :768px) and (max-device-width :1024px) {
    .showDeskTop {
        display: none;
    }
}